/* Сброс стилей и глобальные настройки */

:root {
  /* Светлая тема по умолчанию */
  --background-color: #F5F4F4;
  --panel-color: #FFFFFF;
  --text-color: #000000;
  --secondary-text-color: #4A4A4A;
  --white-color: #FFFFFF;
  --gray-color: #F5F4F4;
  --blue-gradient: linear-gradient(to right, #2D83EC, #1AC9FF);
  --placeholder-gradient: linear-gradient(90deg, var(--gray-color) 5%, #e1e1e1 50%, var(--gray-color) 95%);

  /* Цвета ранка */
  --bronze-color: #CC7763;
  --bronze-secondary-color: #FEE7DC;

  --silver-color: #92B2BF;
  --silver-secondary-color: #E0EAF3;

  --gold-color: #DDA244;
  --gold-secondary-color: #FFE49B;

  --platinum-color: #8680C9;
  --platinum-secondary-color: #D5D4FB;

  --diamond-color: #4463DD;
  --diamond-secondary-color: #D5D4FB;

  --predator-color: #A41323;
  --predator-secondary-color: #F1525A;
}

[data-theme="dark"] {
  /* Тёмная тема */
  --background-color: #0C0C0C;
  --panel-color: #121212;
  --text-color: #F0F0F0;
  --secondary-text-color: #B7B7B7;
  --white-color: #F0F0F0;
  --gray-color: #222222;
  --blue-gradient: linear-gradient(to right, #2469BD, #1796C9);
  --placeholder-gradient: linear-gradient(90deg, var(--gray-color) 5%, #151515 50%, var(--gray-color) 95%);

  /* Цвета ранка */

  --bronze-secondary-color: #504844;
  --silver-secondary-color: #53565a;
  --gold-secondary-color: #685e3f;
  --platinum-secondary-color: #49485a;
  --diamond-secondary-color: #52516e;
  --predator-secondary-color: #511d1e;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}
